body {
    width:auto;
    height:350px;
    padding:0%;
    margin: auto;
}
header {
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}