*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0px;
}

header a img {
	width: 167.02px;
	height: 29.46px;
	padding: 0px;
}

.container {
        display: flex;
        font-family: "Source Sans Pro", sans-serif ;
        font-weight: bold;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0px;
        gap: 20px;
        align-items: flex-end;
}

.container a {
	text-decoration: none;
	color: #FFFFFF;
}

main {
	padding: 214px 98px;
	background: #FFFFFF;
}

.quote {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 246px 108px;
	background: #C271FF;
	align-items: flex-start;
}
.presenter {
	width: 943px;
	height: 160px;
	gap: 53px;
}
.avatar-image {
	width: 160px;
	height: 160px;
	gap: 10px;
	padding: 0px 0px;
}
.text {
	width:  730px;
	height: 158px;
	gap: 11px;
	padding: 0px 0px;
	color: #FFFFFF;
}
.text blockquote {
	width: 730px;
	height: 68px;
	line-height: 33.6;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 22px;
	color: #FFFFFF;
}
.text p b {
	width: 730px;
	height: 34px;
	line-height: 33.6;
	letter-spacing: 0px;
	font-weight: bold;
	font-size: 22px;
	color: #FFFFFF;
}
.text p i {
	width: 730px;
	height: 34px;
	line-height: 33.6;
	letter-spacing: 0px;
	font-weight: italic;
	font-size: 22px;
	color: #FFFFFF;
}
.videos-section {
	display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        align-items: flex-start;
}

h1 {
	width: 294;
	height: 40;
	letter-spacing: 0px;
}


















